spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/modern_java
    username: modern_java_write
    # do NOT set password here; let Key Vault supply it

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        default_schema: northwinds
        format_sql: true
    open-in-view: false

  cloud:
    azure:
      keyvault:
        secret:
          property-sources:
            - endpoint: https://kv-wsollers-dev.vault.azure.net/

server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
    include-exception: false
    whitelabel:
      enabled: false

logging:
  level:
    com.azure.identity: DEBUG
    com.azure.security.keyvault: DEBUG
    com.azure.spring: DEBUG
