spring:

server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
    include-exception: false
    whitelabel:
      enabled: false

logging:
  level:
    com.azure.identity: DEBUG
    com.azure.security.keyvault: DEBUG
    com.azure.spring: DEBUG
